<a href="https://colab.research.google.com/github/imb96/ML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **실습 1 - pandas 기본문법**

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr . Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"]
    }
)

In [ ]:
df

                       Name  Age     Sex
0  Braund, Mr . Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2   Bonnell, Miss Elizabeth   58  female

In [ ]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
ages = pd.Series([20, 30, 40], name="Age")

In [ ]:
ages

0    20
1    30
2    40
Name: Age, dtype: int64

In [ ]:
df["Age"].max()

58

In [ ]:
ages.max()

40